.navbar-brand{
    font-size: 2em;
}
.divider {
    width: 2px;
    margin: 6px 0;
    background-color: #666;
  }

body{
    background-image: url(../../assets/images/footer_lodyas.png);
    margin-right: 0;
}
.double-space{
    line-height: 2em;
}
.box img{
    height: 250px;
    width: 250px;
    position: relative;
}
.box-label{
    background-color: #4aaaa5;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 15px 0;
    position: absolute;
    width: 250px;
    bottom: 10px;
}
.footer{
    border-top: 5px solid #4aaaa5;
}
.footer span{
    height: 50px;
}